li{
    padding: 10px;
    
}
ul{
    margin-top: -600px;
}
nav{
    height: 740px;
    margin-left: -12px;
}

.navbar-brand{
    margin-top: 30px;
}

.card{
    padding: 10px;
    margin-left: 15px;
    margin-top: 15px;
   
    box-shadow: 10px 10px 8px #888888;

}

h4{
    padding: 3px;
}
h6{
    padding: 3px;
}